.testers{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: mediumpurple;
    user-select: none;
}